#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/gksu "java -jar /usr/share/java/extirpater/extirpater.jar"
Icon=extirpater
Categories=Utility;
Name=Extirpater (as root)
Comment=A multiplatform Java based free space eraser
